{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}
<section class="intro">
    <h1><img src="static/iconsearch.png">¿Cuánto <span style="color: rgb(42, 196, 75);">cuesta</span>
        <span id="phrase1" class="txt-type" data-wait="1000" data-words='["una bolsa de cemento?", "un termomagnetico?", "un microprocesador?", "la mano de plátano?"]'></span>
    </h1>
    <h1><img src="static/iconsearch.png">¿Cómo se <span style="color: rgb(53, 94, 229);">compra</span>
        <span id="phrase2" class="txt-type" data-wait="1000" data-words='["cable para luz?", "fertilizantes?", "microchips?", "perfiles de acero?"]'></span>
    </h1>
    <h1><img src="static/iconsearch.png">¿Cuánto debo <span style="color: rgb(216, 43, 44);">pagar</span>
        <span id="phrase3" class="txt-type" data-wait="1000" data-words='["por arreglos?", "por un servicio?", "por un trabajo?"]'></span>
    </h1>
    <h1><img src="static/iconsearch.png">¿Cuál es el <span style="color: rgb(226, 216, 67);">precio</span>
        <span id="phrase4" class="txt-type" data-wait="1000" data-words='["por m2 de una ... ?", "del medicamento...?", "por unidad de...?"]'></span>
    </h1>
    <h2>No importa donde te encuentres,<br>¡siempre sabrás a cuánto y dónde venden todo! <br>Todas las respuestas, las tenemos <span style="font-weight: bolder;">aquí</span>.</h2>
    <a href="#section-2">
        <div class="scroll-down"></div>
    </a>
</section>
<section id="section-2" class= "caratula">
    <div class="indice" >
        <h1 style="font-weight:bold" >¿QUÉ PUEDES HACER CON CUBICORN1.0?</h1>
        </ul>
    </div>

    <div class="quehacemos">
        <label>
            <input type="checkbox"/>
            <div class="flip-card">
                <div class="front">
                    <div class="cosas">
                        <div class="centrarcosas">
                            <h1  style="font-weight:bold">COSTOS<br>v1.0</h1>
                        </div>
                    </div>
                </div>

                <div class="back">
                    <div class="cosas">
                        <div class="centrarcosas">
                            <h1  style="font-weight:bold">COSTOS</h1>
                            <h2>Basados en precios constantemente actualizados del mercado, te brindamos:</h2>
                            <ul>
                                <li>Costos de Productos</li>
                                <li>Costos de Materiales</li>
                                <li>Costos de Mano de obra</li>
                                <li>Costos de Equipos</li>
                                <li>Costos de Maquinaria</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </label> 
        
        <label>
            <input type="checkbox"/>
            <div class="flip-card">
                <div class="front">
                    <div class="cosas">
                        <div class="centrarcosas">
                            <h1 style="font-weight:bold;">LUGARES<br> <span style="font-size: 1rem; color: rgba(85, 84, 82, 0.589);">Pronto!<br> v1.1</span></h1>
                        </div>
                    </div>
                </div>

                <div class="back">
                    <div class="cosas">
                        <div class="centrarcosas">
                            <h1 style="font-weight:bold;">LUGARES</h1>
                            <h2>Te mostramos en el mapa donde encontrar las cosas que buscas:</h2>
                            <ul>
                                <li>Ferreterias</li>
                                <li>Farmacias</li>
                                <li>Abarrotes</li>
                                <li>Clínicas</li>
                                <li>Notarias</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </label>

        <label>
            <input type="checkbox"/>
            <div class="flip-card">
                <div class="front">
                    <div class="cosas">
                        <div class="centrarcosas">
                            <h1 style="font-weight:bold;">DOCUMENTOS TÉCNICO-LEGALES <br> <span style="font-size: 1rem; color: rgba(85, 84, 82, 0.589);">Pronto!<br>v2.0</span></h1>
                        </div>
                    </div>
                </div>

                <div class="back">
                    <div class="cosas">
                        <div class="centrarcosas">
                            <h1 style="font-weight:bold;">DOCUMENTOS TÉCNICO-LEGALES</h1>
                            <h2>Te facilitamos toda la información para la elaboración de cualquier proyecto:</h2>
                            <ul>
                                <li>Normatividad vigente</li>
                                <li>Reglamentos Nacionales</li>
                                <li>Guías Técnicas actualizadas</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </label>

        

        <label>
            <input type="checkbox"/>
            <div class="flip-card">
                <div class="front">
                    <div class="cosas">
                        <div class="centrarcosas">
                            <h1 style="font-weight:bold;">PRESUPUESTOS<br> <span style="font-size: 1rem; color: rgba(85, 84, 82, 0.589);">Pronto!<br> v2.1</span></h1>
                        </div>
                    </div>
                </div>

                <div class="back">
                    <div class="cosas">
                        <div class="centrarcosas">
                            <h1 style="font-weight:bold;">PRESUPUESTOS</h1>
                            <h2>Basados en la realidad peruana, te brindamos:</h2>
                            <ul>
                                <li>Análisis de precios unitarios</li>
                                <li>Partidas presupuestales</li>
                                <li>Rendimientos</li>
                                <li>Metrados (Costos por m, m2, m3, etc)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </label>

        <label>
            <input type="checkbox"/>
            <div class="flip-card">
                <div class="front">
                    <div class="cosas">
                        <div class="centrarcosas">
                            <h1 style="font-weight:bold;">EXPEDIENTES TÉCNICOS<br> <span style="font-size: 1rem; color: rgba(85, 84, 82, 0.589);">Pronto! <br> v3.0</span></h1>
                        </div>
                    </div>
                </div>

                <div class="back">
                    <div class="cosas">
                        <div class="centrarcosas">
                            <h1 style="font-weight:bold;">EXPEDIENTES TÉCNICOS</h1>
                            <h2>¿Cómo se hacen las cosas? <br>Enterate como se estructuran documentos técnicos que nos han permitido vivir en el mundo actual.</h2>
                            <ul>
                                <li>Exp. Téc. Obras Públicas</li>
                                <li>Exp. Téc. Obras Privadas</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </label>

        <label>
            <input type="checkbox"/>
            <div class="flip-card">
                <div class="front">
                    <div class="cosas">
                        <div class="centrarcosas">
                            <h1 style="font-weight:bold;">FORO PROFESIONAL<br> <span style="font-size: 1rem; color: rgba(85, 84, 82, 0.589);">Pronto!<br> v4.0</span></h1>
                        </div>
                    </div>
                </div>

                <div class="back">
                    <div class="cosas">
                        <div class="centrarcosas">
                            <h1 style="font-weight:bold;">FORO</h1>
                            <h2>¿Hay algo de lo que dudas y necesitas saber como se hace?</h2>
                            <h2>La experiencia es el mayor valor de un profesional, y nosotros te lo compartimos. Encuentra las respuestas a problemas que otros ya solucionaron aquí.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </label>

        <label>
            <input type="checkbox"/>
            <div class="flip-card">
                <div class="front">
                    <div class="cosas">
                        <div class="centrarcosas">
                            <h1 style="font-weight:bold;">PROFESIONALES<br> <span style="font-size: 1rem; color: rgba(85, 84, 82, 0.589);">Pronto!<br> v5.0</span></h1>
                        </div>
                    </div>
                </div>

                <div class="back">
                    <div class="cosas">
                        <div class="centrarcosas">
                            <h1 style="font-weight:bold;">PROFESIONALES</h1>
                            <h2>¡Solicita el apoyo de un profesional para tu proyecto!</h2>
                            <h2>¡Contrata a un profesional certificado!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </label>

        <label>
            <input type="checkbox"/>
            <div class="flip-card">
                <div class="front">
                    <div class="cosas">
                        <div class="centrarcosas">
                            <h1 style="font-weight:bold;">HANDYMEN<br> <span style="font-size: 1rem; color: rgba(85, 84, 82, 0.589);">Pronto!<br> v5.1</span></h1>
                        </div>
                    </div>
                </div>

                <div class="back">
                    <div class="cosas">
                        <div class="centrarcosas">
                            <h1 style="font-weight:bold;">HANDYMEN</h1>
                            <h2>Nuestra gran base de datos te permitirá encontrar a los mejores técnicos en mantenimiento.</h2>
                            <ul>
                                <li>Gasfiteros</li>
                                <li>Pintores</li>
                                <li>Electricistas</li>
                                <li>Carpinteros</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </label>
        

        

    </div>
    <a href="#section-3">
        <div class="scroll-down"></div>
    </a>
    
</section>
{% endblock %}

{% block body %}
<section id="section-3">
    <div class="animado" data-aos="fade-up">
        <div id= "handy_der" style="display: table; margin-top: 50px;">
            <h1 class="h1_text" style="display: table-cell; vertical-align: middle; text-align: left;">¿Tu familia quiere saber <br> cuanto cuesta comprar y colocar <br> la ventana que haz roto? <br><span style="font-weight:bold">¡Cotiza!</span></h1>
        </div>
        <div id="handy_izq" style="margin-top: 50px;">
            <img id="handy" src="static/HANDYPEOPLE.png" alt="" >
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="animado" data-aos="fade-down">
        <div id="budget_der" style="margin-bottom: 70px;">
            <img id="budget" src="static/budget.png" alt="" >
        </div>
        <div id ="budget_izq" style="display: table; margin-bottom: 70px;">
            <h1 class="h1_text" style="display: table-cell; vertical-align: middle;">Encuentra los costos <br> más actualizados para estructurar <br>el presupuesto de tu proyecto <br></h1>
        </div>
    </div>
    <a href="#section-4">
        <div class="scroll-down"></div>
    </a>
</section>

<div class="clearfix"></div>

<section id="section-4" class ="cubicornio">
    <h1 style="text-align: center; padding: 20px;">¡Encuentra todo lo que necesites!</h1>

    <div id="wrapper">
        <div id="capa_izquierda">
            <img id="imagen" src="static/cubicornio.png" alt="" style="width: 100%;">
        </div>

        <div id="capa_derecha">
            <div style="height: 50%;">
                <button class="btn btn-lg btn-outline-secondary" id="btn1" onclick="location.href = '/costos';">COSTOS</a>
            </div>
            <div style="height: 20px;"></div>
            <div style="height: 50%;">
                <button class="btn btn-lg btn-outline-secondary" id="btn2" onclick="location.href = '/';" disabled>LUGARES<br><span>Pronto!</span></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}