<div id="costo2" class="costo">
    <div>
        Costo promedio:
    </div>
    <!--FILA [0] para seleccionar el average -->
    <h1 id="respuesta2">{{ "S/.{:,.2f}".format(material[0]["average"])}} soles</h1><!--formato para que sean soles el float value -->
    <h3 id="respuesta2_unit" style="font-size: 1.5rem;">x {{material[0]["Und_largo"]}} ({{material[0]["Und"]}})</h3>
    <h2>Se vende por</h2>
    <!--Here the AJAX called buttons are placed -->
    <div id="respuesta2_buttons" style="color: red;"><img src='static/loading.gif' style='height: 25px;' alt=''></br>Si no carga los botones vuelve a buscar!</div>
    <h2>Costo a la fecha <br>(valor más actualizado): <span id="resp2_fecha">{{material[0]["max_date"]}}</span></h2>
</div>

<!--FUENTES MATERIALES -->

<div id="fuente2" class="fuente">
    <div>
        Costo obtenido de:
    </div>
    <div>
        <h1 id="resp2_tfisica">{{ material[0]["t_fisica"] }} tienda(s) fisica(s) en la zona</h1>
        <button class="btn btn-outline-success" onclick="location.href = '/develop';">VER TIENDAS</button>
    </div>
    <div>
        <h1 id="resp2_tvirtual">{{ material[0]["t_virtual"] }} tienda(s) virtuale(s) en la zona</h1>
        <button class="btn btn-outline-success" onclick="location.href = '/develop';">VER TIENDAS</button>
    </div>
    <div>
        <h1 id="resp2_expe">{{ material[0]["expe"] }}  expediente(s) técnico(s)</h1>
        <button class="btn btn-outline-success" onclick="location.href = '/develop';">VER EXPEDIENTES</button>
    </div>
</div>

